.app__market {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: blue;
  width: 100%;
  height: auto;
}

.app__market-title {
  font-size: 1.5rem;
}

.app__market-heading {
  display: flex;
  flex-direction: row;
  justify-content: center 
}

.app__market-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}