.app__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgba(128, 128, 128, 0.393);
  background: linear-gradient(45deg, rgb(16, 0,29), blue);
  position:fixed;
  top: 0%;
  width: 100vw;
  z-index: 10;


  @media screen and (max-width: 500px) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

}

.app__nav-list {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;


  @media screen and (max-width: 500px) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.app__title {
  margin-right: 3rem;
  margin-left: 3rem;
  font-size: 3rem;
  font-weight: 3rem;
  color: rgb(240, 252, 0);

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);

    &:hover {
      color: white;
    }
  }

  .app__title-subtitle {
    font-size: 1rem;
    margin-left: .5rem;
    margin-bottom: .5rem;
  }
}

.app__nav-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem;

  a {
    text-decoration: none;
    color: rgb(221, 223, 192);

    &:hover {
      color: white;
      border-bottom: solid 2px gray;
      // margin: 0 .5rem;
      border-radius: 5px;
    }
  }
}

.mint-btn {
  border: solid 1px gray;
  padding: 0 .5rem;
  border-radius: 5px;
  background-color: gray;
  
  a {
    color: white;
  }
}

.app__nav-more {
  margin-right: 2rem;
}