.app__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: solid 1px rgba(128, 128, 128, 0.393);
}

.app__nav-list {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.app__title {
  margin-right: 3rem;
  margin-left: 3rem;
  font-size: 3rem;
  font-weight: 3rem;
  color: purple;

  &:hover {
    background-color: yellow;
  }

  a {
    text-decoration: none;
  }

  .app__title-subtitle {
    font-size: 1rem;
    margin-left: .5rem;
    margin-bottom: .5rem;
  }
}

.app__nav-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem;

  &:hover {
    color: purple;
    background-color: red;
  }

  a {
    text-decoration: none;
  }
}

.mint-btn {
  border: solid 1px gray;
  padding: 0 .5rem;
  border-radius: 5px;
  background-color: gray;
  
  a {
    color: white;
  }
}

.app__nav-more {
  margin-right: 2rem;
}